$NotoSansFont: "Noto Sans", sans-serif;
$MontserratFont: "Montserrat", sans-serif;
$primaryColor: #d85040;
$textColor: #333;

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;

$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1440px;

$container-mw: 144rem;